{% block content %}
<footer>
    <nav class="navbar navbar-default navbar-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li> <a href="https://sciences.edu.umontpellier.fr" title="W3.CSS" target="_blank">FDS UM2</a>Copyright &copy;2018</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'about' %}">À Propos</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </nav>
</footer>
{% endblock content %}
