__pychache__/
DoggyBook/db.sqlite3
DoggyBook/Dog/DoggyBook/__pycache__/
DoggyBook/Dog/DoggyBook/migrations/
DoggyBook/Dog/__pychache__/
*.py[cod]
Dog/DoggyBook/migrations/
Dog/DoggyBook/__pycache__/

*.so

bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo

.mr.developer.cfg
.project
.pydevproject

.ropeproject

*.log
*.pot

docs/_build/
