{% block content %}
{% load static %}

{% include 'layouts/head.html' %}

<body>

    {% include 'layouts/_navbar.html' %}

    {% include 'layouts/header.html' %}

    <div class="w3-container" style="padding:128px 16px" id="team">
        <h3 class="w3-center">THE TEAM</h3>
        <p class="w3-center w3-large">The ones who runs this company</p>
        <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="{% static 'img/teiki.jpeg' %}" alt="Teiki" style="width:100%">
                <div class="w3-container">
                    <h3>Teiki Raihauti</h3>
                    <p class="w3-opacity">CEO & Founder</p>
                    <p>Happy with my dog.</p>
                    <p><button class="w3-button w3-light-grey w3-block" id="1" onclick="mail()"><i class="fa fa-envelope"></i>  Contact</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="{% static 'img/ibrahima.jpeg' %}" alt="Ibrahima" style="width:100%">
                <div class="w3-container">
                    <h3>Ibrahima Tounkara</h3>
                    <p class="w3-opacity">Art Director</p>
                    <p>Cogito ergo sum.</p>
                    <p><button class="w3-button w3-light-grey w3-block" id="2" onclick="mail2()"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="{% static 'img/joel.jpeg' %}" alt="Joel" style="width:100%">
                <div class="w3-container">
                    <h3>Joel Beya</h3>
                    <p class="w3-opacity">Touriste</p>
                    <p>En pleine visite de la Tour Eiffel.</p>
                    <p><button class="w3-button w3-light-grey w3-block" id="3" onclick="mail3()"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="{% static 'img/dareine.jpeg' %}" alt="Dareine" style="width:100%">
                <div class="w3-container">
                    <h3>Dareine Amoa</h3>
                    <p class="w3-opacity">Designer</p>
                    <p>Omae wa mou Shindeiru !</p>
                    <p><button class="w3-button w3-light-grey w3-block" id="4" onclick="mail4()"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
          </div>
        </div>
    </div>

    {% include 'layouts/footer.html' %}

</body>

{% include 'layouts/script.html' %}

<script>
function mail() {
    document.getElementById("1").innerHTML = "<i class=\"fa fa-envelope\"></i> teiki.raihauti@etu.umontpellier.fr";
}
function mail2() {
    document.getElementById("2").innerHTML = "<i class=\"fa fa-envelope\"></i> ibrahima.tounkara@etu.umontpellier.fr";
}
function mail3() {
    document.getElementById("3").innerHTML = "<i class=\"fa fa-envelope\"></i> joel.beya-ntumba@etu.umontpellier.fr";
}
function mail4() {
    document.getElementById("4").innerHTML = "<i class=\"fa fa-envelope\"></i> imrhan-dareine.minko-amoa@etu.umontpellier.fr";
}
</script>
{% endblock content %}
