asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
confusable-homoglyphs==3.1.1
cryptography==3.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.5
django-bootstrap3==10.0.1
django-captcha==1.0.0
django-countries==5.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.9.1
django-extensions==2.0.7
django-nested-inlines==0.1
django-popup-view-field==0.3.0
django-registration==2.4.1
django-suit-ckeditor==0.0.2
docutils==0.14
gis==0.2.1
gunicorn==19.8.1
idna==2.6
ndg-httpsclient==0.5.0
Pillow==5.1.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pusher==2.0.1
pyasn1==0.4.3
pycparser==2.18
pyOpenSSL==18.0.0
pytz==2018.4
requests==2.18.4
six==1.11.0
sqlparse==0.2.4
static3==0.7.0
suit==2.0.2
urllib3==1.22
whitenoise==3.3.1
