{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang=fr>
<head>
    <meta charset="utf-8">
    <title>DoggyBook</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="{% static 'img/doggybook.svg' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/GestionMembre.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/business-casual.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/section.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
</head>

<body>

    {% include 'layouts/_navbar.html' %}

    <br><br><br><br>

    <button class="accordion">Modifier le profil</button>
    <div class="panel">
        <div class="form-style-3">
            <form action="/doggybook/modifP" method="post">
                {% csrf_token %}
                <br> <br>
                <label for="field1"><input type="text" class="input-field" name="nom" placeholder="Nom" value={{user.last_name}} required maxlength="100"/></label>
                <label for="field1"><input type="text" class="input-field" name="prenom" placeholder="Prenom" value={{user.first_name}} required maxlength="100"/></label>
                <label for="field2"><input type="date" class="input-field" name="birth" value={{user.proprio.date_naissance}} placeholder="Année de naissance" required /></label>
                <label for="field1"><input type="text" class="input-field" name="tel" placeholder="Telephone" value={{user.proprio.telephone}} required maxlength="100"/></label>

                <input type="submit" value="Modifier les informations"/>
            </form>
        </div>
    </div>

    <button class="accordion">Ajouter un chien</button>
    <div class="panel">
        <div class="form-style-3">
            <form action="/doggybook/ajoutChien/" method="post">
                {% csrf_token %}
                <br> <br>
                <label for="field1"><input type="text" class="input-field" name="nom" placeholder="Nom du chien" required maxlength="100"/></label>
                <label for="field2"><input type="date" class="input-field" name="birth" value="" placeholder="Année de naissance" required/></label>
                <label for="field1"><select name="poils" class="select-field" required/>
                    <option value="" selected disabled hidden>Couleur des poils</option>
                    <option value=Amande>Amande</option>
                    <option value=Arlequin>Arlequin</option>
                    <option value=Aubère>Aubère</option>
                    <option value=Belton>Belton</option>
                    <option value=Bicolore>Bicolore</option>
                    <option value=Bigarrée>Bigarrée</option>
                    <option value=Blanche>Blanche</option>
                    <option value=Blenheim>Blenheim</option>
                    <option value=Bleu>Bleu</option>
                    <option value=Bringée>Bringée</option>
                    <option value=Caille>Caille</option>
                    <option value=Cerf>Cerf</option>
                    <option value=Charbonnée>Charbonnée</option>
                    <option value=Châtain>Châtain</option>
                    <option value=Chevreuil>Chevreuil</option>
                    <option value=Chocolat>Chocolat</option>
                    <option value=Citron>Citron</option>
                    <option value=Délavée>Délavée</option>
                    <option value=Étoile>Étoile</option>
                    <option value=Fauve>Fauve</option>
                    <option value=Feu>Feu</option>
                    <option value=Flamme>Flamme</option>
                    <option value=Foie>Foie</option>
                    <option value=Isabelle>Isabelle</option>
                    <option value=Ladre>Ladre</option>
                    <option value=Lilas>Lilas</option>
                    <option value=Liste>Liste</option>
                    <option value=Louvet>Louvet</option>
                    <option value=Manteau>Manteau</option>
                    <option value=Marque>Marque</option>
                    <option value=Marron>Marron</option>
                    <option value=Masque>Masque</option>
                    <option value=Merle>Merle</option>
                    <option value=Mouchetée>Mouchetée</option>
                    <option value="Noir & Feu">Noir & Feu</option>
                    <option value=Ombrée>Ombrée</option>
                    <option value=Panachée>Panachée</option>
                    <option value=Panachure>Panachure</option>
                    <option value=Parsemée>Parsemée</option>
                    <option value=Particolore>Particolore</option>
                    <option value="Pastille ou Spot">Pastille ou Spot</option>
                    <option value=Pie>Pie</option>
                    <option value=Plage>Plage</option>
                    <option value=Plaque>Plaque</option>
                    <option value=Pluricolore>Pluricolore</option>
                    <option value=Puce>Puce</option>
                    <option value=Quatrœillé>Quatrœillé</option>
                    <option value=Rouannée>Rouannée</option>
                    <option value=Rouge>Rouge</option>
                    <option value=Roux>Roux</option>
                    <option value=Rubican>Rubican</option>
                    <option value=Rubis>Rubis</option>
                    <option value=Sable>Sable</option>
                    <option value=Selle>Selle</option>
                    <option value=Sésame>Sésame</option>
                    <option value="Sésame Noir">Sésame Noir</option>
                    <option value="Sésame Rouge">Sésame Rouge</option>
                    <option value=Tache>Tache</option>
                    <option value=Tachetée>Tachetée</option>
                    <option value=Tiquetée>Tiquetée</option>
                    <option value=Truiture>Truiture</option>
                    <option value=Urajiro>Urajiro</option>
                    <option value=Zain>Zain</option>
                </select></label>
                <label for="field1"><select name="yeux" class="select-field" required/>
                    <option value="" selected disabled hidden>Couleur des yeux</option>
                    <option value=Ambre>Ambre</option>
                    <option value=Bleu>Bleu</option>
                    <option value=Dragons>Dragons</option>
                    <option value=Gris>Gris</option>
                    <option value=Marron>Marron</option>
                    <option value=Marron-vert>Marron-vert</option>
                    <option value=Noir>Noir</option>
                    <option value=Noisette>Noisette</option>
                    <option value=Turquoise>Turquoise</option>
                    <option value=Vairons>Vairons</option>
                    <option value=Vert>Vert</option>
                    <option value=Violet>Violet</option>
                </select></label>

                <label for="field4"><select name="sexe" class="select-field" required>
                    <option value="" selected disabled hidden>Sexe</option>
                    <option value="Male">Mâle</option>
                    <option value="Femelle">Femelle</option>
                </select></label>

                <label for="field4"><select name="race" data-placeholder="Race" class="select-field" required>
                    <option value="" selected disabled hidden>Race</option>
                {% for r in race %}
                    <option value={{r.id}}>{{r.nom}}</option>
                {% endfor %}
                </select></label>
                <label for="field4"><select name="pere" data-placeholder="Père" class="select-field" required>
                    <option value="" selected disabled hidden>Père</option>
                    <option value="None">-</option>
                {% for c in pere %}
                    <option value={{c.id}}>{{c.nom}}</option>
                {% endfor %}
                </select></label>
                <label for="field4"><select name="mere" data-placeholder="Mère" class="select-field" required>
                    <option value="" selected disabled hidden>Mère</option>
                    <option value="None">-</option>
                {% for c in mere %}
                    <option value={{c.id}}>{{c.nom}}</option>
                {% endfor %}
                </select></label>
                <input type="submit" value="Ajouter chien"/>
            </form>
        </div>
    </div>

    <button class="accordion">Modifier les informations d'un chien</button>
    <div class="panel">
        <br> <br>
        {% include 'DoggyBook/modifC.html' %}
        <div class="w3-row-padding">
        	{% for c in chiens %}
            
            <a data-toggle="modal" href="DoggyBook/modifC views.modifC #modal_modif_chien" onclick="affecte({{c.id}})" class="w3-bar-item w3-button" style="text-decoration: none">
                <div class="w3-third w3-container w3-margin-bottom">
                    {% if c.photo_profil.url is not None %}
                    <p class="w3-center"><img src="{{c.photo_profil.url}}" alt="Photo_profil_chien_{{c.nom}}" style="height:106px;width:106px" class="w3-circle"></p>
                    {% endif %}
                    <div class="w3-center">
                        <p><b>{{c.nom}}</b></p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <button class="accordion">Supprimer un chien</button>
    <div class="panel">
        <br> <br>
        {% include 'DoggyBook/supprC.html' %}
        <div class="w3-row-padding">
        	{% for c in chiens %}

             <a data-toggle="modal" href="DoggyBook/supprC views.supprC #modal_suppr_chien" onclick="affecte2({{c.id}})" class="w3-bar-item w3-button" style="text-decoration: none">
            <div class="w3-third w3-container w3-margin-bottom">
                {% if c.photo_profil.url is not None %}
                <p class="w3-center"><img src="{{c.photo_profil.url}}" alt="Photo_profil_chien_{{c.nom}}" style="height:106px;width:106px" class="w3-circle"></p>
                {% endif %}
                <div class="w3-center">
                    <p><b>{{c.nom}}</b></p>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>

    {% include 'layouts/script.html' %}
    <script src="{% static 'js/accordion.js' %}"></script>
    <script>
            function affecte(id) {
            document.getElementById("id_chien").value = id;
        } </script>
        <script>
            function affecte2(id) {
            document.getElementById("id_chien2").value = id;
        } </script>

    {% endblock content %}
    {% include 'layouts/footer.html' %}

</body>
</html>
