{% block content %}
<form class="photo_chien_add_form" action="/doggybook/upload_pic/{{key}}" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="modal_profil_add" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ajout Photo</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <p><input id="id_image_add" type="file" class="" name="image"></p>
                    <p><input type="submit" value="Submit" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
