{% block content %}
{% load static %}

{% include 'layouts/head.html' %}

<body>

    {% include 'layouts/_navbar.html' %}


    <!-- Page Container -->
    <div class="w3-container w3-content w3-center" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row w3-center">
            <!-- Left Column -->
            <div class="w3-col m12 w3-center">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <h3 class="w3-center">{{objet.first_name}} {{objet.last_name}}</h3>
                        {% if request.user.id == objet.id %}
                            <p> {% include 'DoggyBook/photo_proprio.html' %} </p>
                        {% endif %}
                        {% if objet.proprio.photo_profil.url is not None %}
                        <a data-toggle="modal" href="DoggyBook/photo_proprio views.upload_pic_user #modal_profil_form" style="text-decoration: none"><img src="{{objet.proprio.photo_profil.url}}" class="w3-circle" style="height:300px;width:300px" alt="Avatar"/></a>
                        {% endif %}
                        <br> <br>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{objet.proprio.adresse}}</p>
                        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{objet.proprio.date_naissance}}</p>
                        {% if request.user.id == objet.id %}
                            <p><a href="/doggybook/ajoutC"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Gérer le profil</a></p>
                        {% endif %}
                        <div class="panel">
                            <div class="w3-row-padding">
                                {% for chien in chiens %}
                                <a href="/doggybook/chien/{{chien.id}}">
                                    <div class="w3-third w3-container w3-margin-bottom w3-center">
                                        {% if chien.photo_profil.url is not None %}
                                        <p class="w3-center"><img src="{{chien.photo_profil.url}}" alt="Photo_profil_chien_{{chien.nom}}" style="height:106px;width:106px" class="w3-circle"></p>
                                        {% endif %}
                                        <div class="w3-container w3-white w3-center"><b>{{chien.nom}}</b></div>
                                    </div>
                               </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Left Column -->
            </div>
        </div>
    </div>

    {% include 'layouts/script.html' %}
    <script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#pre_image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#id_image").change(function() {
        readURL(this);
    });
    </script>

    {% endblock content %}
    {% include 'layouts/footer.html' %}

</body>
</html>
