{% block content %}
{% load static %}

{% include 'layouts/head.html' %}

<body>

    {% include 'layouts/_navbar.html' %}

    {% include 'layouts/header.html' %}

    {% if objet.id == user.id %}
    	<a href="#"> Modifier ses infos </a>
    {% endif %}

    <h1>Page de l'utilisateur {{objet.first_name}} {{objet.last_name}}</h1>
	<p>Nom : {{objet.last_name}}</p>
	<p>Prénom : {{objet.first_name}}</p>
	<p>E-mail : {{objet.email}}</p>

	<p> <a href="{% url 'DoggyBook:index' %}">Accueil</a> </p>

    {% include 'layouts/footer.html' %}

</body>

{% endblock content %}
